

@{Layout = "/Views/Shared/_Layout.cshtml";}

<div>
    <div><h3> some navigation bar state</h3></div>
    <div><h3> Layout from -  Areas\Global\Views\Shared\_Layout.cshtml</h3></div>
</div>
<div id="main" class="container">
    @RenderBody()
</div>