@model CPM.Web.Areas.Wallet.Models.WalletInfoVM
@{ Layout = "/Views/Shared/Wallet/_WalletLayout.cshtml";}
@{ ViewBag.Title = Model.Name;}
<div>
   <div class="panel">
        <div class="panel panel-heading panel-info">
            <b>@Model.Name</b>
        </div>
        <div class="panel panel-body panel-group">
            <div></div>
            <div>ClientID: @Model.ClientId</div>
            <div>Balance : [@Model.Balance]</div>
            <div>IsLocked : @Model.IsLocked</div>
        </div>
       <div class="panel panel-footer">
           @DateTime.Now.ToString("d MMM yy");
       </div>
    </div>
</div>
