
@model CPM.Web.Areas.Currency.Models.CurrencyListVM
@{ Layout = "/Views/Shared/Currency/_CurrencyLayout.cshtml"; }
@{ ViewBag.Title = "CPM Currencies";}

<div>
    <h4>CurrencyListVM</h4>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <td>""</td>
                <td>Name</td>
                <td>Code</td>                
                <td>""</td>
                <td>""</td>
            </tr>
        </thead>   
        @foreach (var item in Model.Currencies)
        {
            <tr>
                <td>""</td>
                <td>@item.Name</td>
                <td>@item.Code</td>
                <td>""</td>
                <td>""</td>
                }
            </tr>
        }
    </table>  
</div>