@{Layout = "/Views/Shared/_Layout.cshtml";}

<div id="main" class="container">
    @RenderBody()
</div>
<script>
    $(function() {
        console.log("stuff ");
        $('#tickerChange').addClass("smta-changedown");
    });
</script>