<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/spacelab/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default">
            <ul class=""
        </nav>
        @*Navigation bar*@
        <h4>Layout from -  Views/Shared/_Layout.cshtml</h4>

        <div id="main" class="container">
            @RenderBody()
        </div>
        <footer>
            <h6>&copy; CPM 2016-2019</h6>
        </footer>
    </div>
</body>
</html>