@model CPM.Web.Areas.Offer.Models.OfferVM
@{ Layout = "/Views/Shared/Offer/_OfferLayout.cshtml";}
@{ ViewBag.Title = Model.Name;}



<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#summary" role="tab" data-toggle="tab">Summary</a></li>
    <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
    <li role="presentation"><a href="#bragains" role="tab" data-toggle="tab">Bargains</a></li>
</ul>
<div class="tab-content" style="border:none;">
    <div role="tabpanel" class="tab-pane active" id="profile">
        <div>
            <div class="panel col-xs-12 col-md-4" style="border:medium;">
                <div class="panel-heading"><b>Final transaction</b></div>
                <div class="panel-body">
                    <table class="table table-condensed table-hover ">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>Customer</td>
                                <td>Price</td>
                                <td>Currency</td>
                                <td>Date</td>
                            </tr>
                        </thead>
                       <tr>
                           <td>23</td>                           
                           <td>James Anderson</td>
                           <td>1.89</td>
                           <td>ETH</td>
                           <td>23/01/2016</td>
                       </tr>
                    </table>                 
                </div>
                <div class="panel-footer">Transaction Status : Completed</div>
            </div>
            <div class="panel col-xs-12 col-md-8">
                <div class="panel-heading">Bargain History</div>
                <div class="panel-body">
                    <table class="table table-condensed table-bordered table-striped">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Price</td>                                
                                <td>Date</td>
                            </tr>
                        </thead>
                        <tr>
                            <td>Customer</td>
                            <td>1.5</td>
                            <td>23/01/2016 11:12:00</td>                            
                        </tr>
                        <tr>
                            <td>Vendor</td>
                            <td>1.9</td>
                            <td>23/01/2016 11:14:00</td>
                        </tr>
                        <tr>
                            <td>Customer</td>
                            <td>1.78</td>
                            <td>23/01/2016 11:19:00</td>
                        </tr>
                        <tr>
                            <td>Vendor</td>
                            <td>1.89</td>
                            <td>J23/01/2016 11:19:00</td>
                        </tr>
                        <tr>
                            <td>Customer</td>
                            <td>1.89</td>
                            <td>23/01/2016 11:19:00</td>
                        </tr>
                    </table> 
                </div>
                <div class="panel-footer"><strong>Final Bragain - 01/01/2001</strong></div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="summary">
        <div>
            <div>@Model.Name</div>
            <div>@Model.DateCreated</div>
            <div>@Model.CurrencyCode</div>
            <div>@Model.Detail</div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="settings">
        <div><h2>settings content</h2></div>
    </div>

    <div role="tabpanel" class="tab-pane" id="bragains">
        <div>
            <div>Bargain 1</div>
            <div>Bargain 2</div>
            <div>Bargain 3</div>
            <div>Bargain 4</div>
            <div>Bargain 5</div>
            <div>Bargain </div>
            <div>Bargain </div>
            <div>Bargain </div>
            <div>Bargain </div>
            <div>Bargain </div>
            <div>Bargain </div>

        </div>
    </div>
</div>












