.smta-nav-menu {
    list-style:none;
}

/*Start of Summary block*/
.container{
    width: 100%;
}

.smta-summary-block{
    position:relative;
    width:100%;
    margin:0.3em;
    padding:1em;
    min-height:15em;
}

   .smta-summary-block  .smta-summary-background i,
   .smta-summary-block  .smta-summary-background div{
       margin-left:-0.4em;
       margin-top:0.1em;
       font-size:8em;
       opacity:0.3;
    }

    .smta-summary-block .smta-summary-body{
        position:absolute;
        top:1.3em;
        right:0.8em;
    }
    .smta-summary-block .summary-line1{
        text-align : right;
        font-size:xx-large;            
        }
        .smta-summary-block .summary-line2{
            text-align : right;
        font-size:medium;
        }
    .smta-summary-block .smta-summary-footer {
        position:absolute;
        width:100%;      
        right:0;
        bottom:0;
        padding:0.5em;
        font-weight:300;
        text-transform: uppercase;
        font-size:small;
        opacity: 0.6;
    }
        .smta-summary-block .smta-summary-footer a {
            text-decoration:none;           
        }
            .smta-summary-block .smta-summary-footer:hover {
                opacity:1.0;
                cursor:pointer;
            }
/*End of summary block*/
/*Start of Summary block Themes*/
.smta-summary-block-primary {
    background-color:#3964bd;
    color:#fff;
}
    .smta-summary-block-primary .smta-summary-footer {
          background-color:blue;
    }
        .smta-summary-block-primary .smta-summary-footer a {
              color:white;
        }

.smta-summary-block-success {
    background-color:#3c763d;
    color:#fff;
}
    .smta-summary-block-success .smta-summary-footer {
          background-color:green;
    }
        .smta-summary-block-success .smta-summary-footer a {
              color:white;
        }

.smta-summary-block-info {
    background-color:#0e394a;
    color:#fff;
}
    .smta-summary-block-info .smta-summary-footer {
          background-color:teal;
    }
        .smta-summary-block-info .smta-summary-footer a {
              color:white;
        }

.smta-summary-block-danger {
    background-color:#a94442;
    color:#fff;
}
    .smta-summary-block-success .smta-summary-danger {
          background-color:red;
    }
        .smta-summary-block-danger .smta-summary-footer a {
              color:white;
        }
/*End of Summary block Themes */

/* START OF BOOTSTARP OVERLOADS*/
.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
/* END OF BOOTSTARP OVERLOADS*/

.smta-display{
    padding: 5px;
    margin: 5px;
    display:inline-block;
}

    .smta-display.settings{
        background-color:#e9f4f6;
        font-size:small;
        border-color:#e9f4f6;
        border-width:2px;
        display:inline-block;
    }
    
    .smta-display.display{
        background-color:#b8c3f1;
        font-size:medium;
        display:inline-block;
    }

    .smta-wallet-balance {
        font-size: xx-large;
        font-weight:700
    }

    .smta-currencybanner{
        font-size:xx-large;   
        padding: 5px;
        margin:8px;     
        font-family:'Times New Roman', Times, serif';'
    }
.smta-currency-lg{
    font-size:x-large;
    color:#40522f;
    padding:2px 15px;
    font-weight:600;
    
}
.smta-CurrencyBlock{
margin-bottom:8px;
display: inline-block;
}

.smta-currencydetail{
    background-color: #f7f3f8;
    border-color:#080909;
    padding: 5px;
    margin:8px;
    font-weight:500;
    font-size:large;  
    display: inline-block;   
    list-style:none; 
    list-style-type:none;  
}

.smta-currencydetail.smta-currencymarket{
   background-color: #e9f4f6;
    border-radius:3px;
    border-color:black;
    padding: 5px;
    margin: 4px 4px;
    font-weight:500;
    font-size:medium; 
    position: relative;  
    list-style:none;
    list-style-type:none;
}

    .smta-pricechange{
        font-size:x-large;
    }
    .smta-price{
        font-size:xx-large;
    }
    .smta-marketname{
        font-size:medium;
        font-stretch:expanded;
        font-style:normal;
        font-weight:bold;
    }

    .smta-marketvolume{
        font-size:small;
    }

    .smta-marketprice{
        font-size:x-large;
        font-weight:bold;
    }

/*START FONT AWESOME OVERLOADS */
.table .fa-unlock {
    color: green;
}

.table .fa-lock {
    color: red;
}

.smta-changedown {
    color: red;    
}
.smta-changeup {
    color: green;    
}

/*END FONT AWESOME OVERLOADS*/

.clickable{
    cursor:pointer;
}