.smta-nav-menu {
    list-style:none;
}



/* START OF BOOTSTARP OVERLOADS*/
.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
/* END OF BOOTSTARP OVERLOADS*/

.smta-display{
    padding: 5px;
    margin: 5px;
    display:inline-block;
}

    .smta-display.settings{
        background-color:#e9f4f6;
        font-size:small;
        border-color:#e9f4f6;
        border-width:2px;
        display:inline-block;
    }
    
    .smta-display.display{
        background-color:#b8c3f1;
        font-size:medium;
        display:inline-block;
    }

    .smta-wallet-balance {
        font-size: xx-large;
        font-weight:700
    }

    .smta-currencybanner{
        font-size:xx-large;   
        padding: 5px;
        margin:8px;     
        font-family:'Times New Roman', Times, serif';'
    }
.smta-currency-lg{
    font-size:x-large;
    color:#40522f;
    padding:2px 15px;
    font-weight:600;
    
}
.smta-CurrencyBlock{
margin-bottom:8px;
display: inline-block;
}

.smta-currencydetail{
    background-color: #f7f3f8;
    border-color:#080909;
    padding: 5px;
    margin:8px;
    font-weight:500;
    font-size:large;  
    display: inline-block;   
    list-style:none; 
    list-style-type:none;  
}

.smta-currencydetail.smta-currencymarket{
   background-color: #e9f4f6;
    border-radius:3px;
    border-color:black;
    padding: 5px;
    margin: 4px 4px;
    font-weight:500;
    font-size:medium; 
    position: relative;  
    list-style:none;
}

    .smta-pricechange{
        font-size:x-large;
    }
    .smta-price{
        font-size:xx-large;
    }

    .smta-market-wrapper{
        position:relative;
        display:inline-block;
    }
    .smta-market{
        border:ridge;
        border-color:#f3e0e0;
        list-style:none;
        margin:3px;
        padding:8px;
        position:relative;
        display: inline-block;
        
    }
        #smta-marketname{
            font-size:medium;
            font-stretch:expanded;
            font-style:normal;
            font-weight:bold;
            position:center;
            width:100%;
        }

        #smta-marketvolume{
            font-size:small;
            width:100%;
        }

        #smta-marketprice{
            font-size:x-large;
            font-weight:bold;
            width:100%;
        }

    .lockedstae{
    content :'<i class="fa fa-lock fa-lg"></i>';
    }

    .wallet-settting-locks{
        display:inline;
    }

/*START FONT AWESOME OVERLOADS */
 .table  .fa-unlock {
    color: green;
}

.table  .fa-lock {
    color: red;
}
.lockstate  .fa-unlock {
    color: green;
}

.lockstate  .fa-lock {
    color: red;
}
.smta-changedown {
    color: red;    
}
.smta-changeup {
    color: green;    
}

/*END FONT AWESOME OVERLOADS*/

.clickable{
    cursor:pointer;
}

/*Kendo grid header*/
.k-grid-header th.k-header, .k-filter-row th {
    font-weight:bold !important;
}


