
@{Layout = "/Views/shared/Global/_GlobalLayout.cshtml";}
@{ ViewBag.Title = "Home";}

<div>
    <div class="container">
        <div class="col-xs-12 col-sm-4">
            <div class="smta-summary-block smta-summary-block-primary">
                <div class="smta-summary-background">
                    <i class="fa fa-archive"></i>
                </div>
                <div class="smta-summary-body">
                    <div class="summary-line1">5</div>
                    <div class="summary-line2">
                       Wallets
                    </div>
                </div>
                <div class="smta-summary-footer">
                    <a asp-route-area="Wallet" asp-controller="Wallet" asp-action="Index">My Wallets...</a>
                    <i class="fa fa-chevron-right pull-right"></i>
                </div>
            </div>
            </div>
        <div class="col-xs-12 col-sm-4">

            <div class="smta-summary-block smta-summary-block-success">
                <div class="smta-summary-background">
                    <i class="fa fa-hand-o-right"></i>
                </div>
                <div class="smta-summary-body">
                    <div class="summary-line1">13</div>
                    <div class="summary-line2">Offers</div>
                </div>
                <div class="smta-summary-footer">
                    <a asp-route-area="Offer" asp-controller="Offer" asp-action="Index">Latest Offers...</a>
                    <i class="fa fa-chevron-right pull-right"></i>
                </div>
            </div>
            </div>

        <div class="col-xs-12 col-sm-4">
            <div class="smta-summary-block smta-summary-block-info">
                <div class="smta-summary-background">
                    <i class="fa fa-money"></i>
                </div>
                <div class="smta-summary-body">
                    <div class="summary-line1">261</div>
                    <div class="summary-line2">Currency</div>
                </div>
                <div class="smta-summary-footer">
                    <a asp-route-area="Offer" asp-controller="Offer" asp-action="Index">View Currencies...</a>
                    <i class="fa fa-chevron-right pull-right"></i>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="smta-summary-block smta-summary-block-danger">
                <div class="smta-summary-background">
                    <i class="fa fa-table"></i>
                </div>
                <div class="smta-summary-body">
                    <div class="summary-line1">38</div>
                    <div class="summary-line2">Transactions</div>
                </div>
                <div class="smta-summary-footer">
                    <a href="#">See Transactions</a>
                    <i class="fa fa-chevron-right pull-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>