@{Layout = "/Views/Shared/_Layout.cshtml";}
@{ ViewBag.Title = "Home";}

<div>
    <div >
        <div class="col-xs-12 col-sm-4">
            <div class="smta-summary-block smta-summary-block-primary">
                <div class="smta-summary-background">
                    <i class="fa fa-archive"></i>
                </div>
                <div class="smta-summary-body">
                    <div class="summary-line1">5</div>
                    <div class="summary-line2">Wallets</div>
                </div>
                <div class="smta-summary-footer">
                    <a href="#">View Wallets</a>
                    <i class="fa fa-chevron-right pull-right"></i>
                </div>
            </div>

            <div class="smta-summary-block smta-summary-block-success">
                <div class="smta-summary-background">
                    <i class="fa fa-hand-o-right"></i>
                </div>
                <div class="smta-summary-body">
                    <div class="summary-line1">13</div>
                    <div class="summary-line2">Offers</div>
                </div>
                <div class="smta-summary-footer">
                    <a href="#">View Offers</a>
                    <i class="fa fa-chevron-right pull-right"></i>
                </div>
            </div>

            <div class="smta-summary-block smta-summary-block-info">
                <div class="smta-summary-background">
                    <i class="fa fa-money"></i>
                </div>
                <div class="smta-summary-body">
                    <div class="summary-line1">261</div>
                    <div class="summary-line2">Currency</div>
                </div>
                <div class="smta-summary-footer">
                    <a href="#">View Currencies</a>
                    <i class="fa fa-chevron-right pull-right"></i>
                </div>
            </div>

            <div class="smta-summary-block smta-summary-block-danger">
                <div class="smta-summary-background">
                    <i class="fa fa-table"></i>
                </div>
                <div class="smta-summary-body">
                    <div class="summary-line1">38</div>
                    <div class="summary-line2">Transactions</div>
                </div>
                <div class="smta-summary-footer">
                    <a href="#">See Transactions</a>
                    <i class="fa fa-chevron-right pull-right"></i>
                </div>
            </div>

        </div>
    </div>
</div>